.grid {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
    place-content: safe center;
}
